body {
    background-color: #f7f3ff;
    font-family: 'Croissant One', serif;
        font-family: 'Poppins', sans-serif;
}
a {
    color: lightpink;
}
.app {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
   
}

header {
    border-bottom: 1px solid #f7f3ff;
    padding: 0 0 30px 0;
}
.search-input {
background-color: #f7f3ff;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;

}

.search-button {
    background-color: lightpink;
    padding: 14px 18px;
    border: none;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 8px;
    color: white;
} 

main {
    padding: 30px 0;
}

.weather-data {
    display: flex;
    justify-content: space-between;
}


.weather-city {
margin: 0;
font-size: 38px;
line-height: 48px;
}

.weather-details {
font-size: 16px;
line-height: 20px;
color: rgba(39, 33, 66, 0.4);
font-weight: 500;
}

.weather-details strong {
    color: lightpink;
}


.weather-temperature-container {
    display: flex;
}

.temperature-icon {
    width: 88px;
    height: 88px;
}

.temperature-value {
    font-size: 88px;
    line-height: 88px;
    font-weight: bold; 
    
   
}

.temperature-unit {
margin-top: 6px ;
font-size: 20px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    
}

.weather-forecast-temperature {
    font-size: 13px;
    color: lightpink;
    margin: 0 10px; }

    .weather-forecast-icon {
        width: 88px;
        height: 88px;
        display: block; 
        margin: 0 auto; 
      }



footer {
border-top: 1px solid #f7f3ff;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}