body {
    background-color: #f7f3ff;
    font-family: 'Croissant One', serif;
        font-family: 'Poppins', sans-serif;
}
a {
    color: lightpink;
}
.app {
    background-color: white;
    max-width: 600px;
    margin: 50px auto;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, .08);
    border-radius: 20px;
    padding: 30px;
   
}

header {
    border-bottom: 1px solid #f7f3ff;
    padding: 0 0 30px 0;
}
.search-input {
background-color: #f7f3ff;
    border: none;
    border-radius: 8px;
    width: 80%;
    padding: 14px 18px;

}

.search-button {
    background-color: lightpink;
    padding: 14px 18px;
    border: none;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 8px;
    color: white;
} 

main {
    padding: 30px 0;
}

.weather-city {
margin: 0;
font-size: 38px;
font-weight: 700;
line-height: 48px;
}

.weather-details {
font-size: 14px;
line-height: 20px;
color: rgba(39, 33, 66, 0.4);
font-weight: 500;
}

.weather-details strong {
    color: lightpink;
}

.weather-data {
    display: flex;
    justify-content: space-between;
}

.weather-temperature-container {
    display: flex;
}

.temperature-value {
    font-size: 88px;
    font-weight: bold; 
    margin-left: 10px;
}

.temperature-icon {
    font-size: 44px;
    margin-top: 22px;
   
}

.temperature-unit {
margin-top: 20px ;
font-size: 28px;
}

footer {
border-top: 1px solid #f7f3ff;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}